.element__like {
    background-image: url(../../../images/heard.svg);
    background-repeat: no-repeat;
    background-size: contain; 
    min-width: 22px;
    min-height: 19px;
    border: none;
}

.element__like:hover {
    transition: 0.5s ease;
    opacity: 0.5;
    cursor: pointer;
}